@tailwind base;
@tailwind components;
@tailwind utilities;
/* your custom CSS below */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'EthnocentricItalic';
  src: url('/fonts/EthnocentricRg.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}


@font-face {
  font-family: 'Anta-Regular';
  src: url('/fonts/Anta-Regular.ttf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}


body {
  background: var(--background);
  color: var(--foreground);
  margin: 0%;
  padding: 0%;
      box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.fade-in {
  animation: fadeIn 0.8s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.perspective {
  perspective: 1000px;
}
.preserve-3d {
  transform-style: preserve-3d;
}
.card-3d {
  transition: transform 0.6s ease;
}
.group:hover .card-3d {
  transform: rotateY(10deg) rotateX(5deg);
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

